<footer class="site-footer">
  <div class="frame site-footer__inner">
    <span>AKSHIT.IO / SOFTWARE ENGINEER</span>
    <span class="site-footer__status"><span class="status-dot"></span> SYSTEMS OPERATIONAL</span>
  </div>
</footer>
