---
import "../styles/global.css";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<title>Akshit Kr Nagpal – Software Engineer & Open Source Enthusiast</title>
		<meta name="description" content="Portfolio of Akshit Kr Nagpal, a self-taught software engineer passionate about full-stack development, open source, and efficient code." />
		<!-- Open Graph Meta Tags -->
		<meta property="og:title" content="Akshit Kr Nagpal – Software Engineer & Open Source Enthusiast" />
		<meta property="og:description" content="Portfolio of Akshit Kr Nagpal, a self-taught software engineer passionate about full-stack development, open source, and efficient code." />
		<meta property="og:image" content="https://avatars.githubusercontent.com/u/15872348" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://akshitkrnagpal.com/" />
	</head>
	<body>
		<slot />
	</body>
</html>
